<div class="mt-5">
  <div class="list-article">

    <% for(let i = 0; i < allArticles.length; i += 1) {%>

     <a href="#" class="list-group-item list-group-item-action flex-column align-items-start mt-1 mb-1">
       <div class="d-flex w-100 justify-content-between">
         <h5 class="mb-1"><%=allArticles[i].title %></h5>
         <small><%=allArticles[i].author %></small>
       </div>
       <p class="mb-1"><%=allArticles[i].desc %></p>
     </a>

    <%} %>
  </div>
</div>