<footer class="footer">
    <div class="container">
        <span>Работу выполнили: </span>
        
            <a class="text-dark" href="https://github.com/whattablackhole" target="_blank"> whattablackhole</a>
            <a class="text-dark" href="https://github.com/Khakhlova" target="_blank">Katsiaryna Khakhlova</a>
             <a class="text-dark" href="https://github.com/Neiroromo" target="_blank">Neiroromo</a>

         
        <span>
            <a href="https://rs.school/js/" target="_blank">
                 <img src="./img/rs_school_js.svg" class="rslogo" alt="RSSchool logo">
            </a>  
        </span>
        <span>Поток 2020q3. Выполнено в 2021</span>
    </div>
</footer>