<footer class="footer">
    <div class="container">
        <span>Работу выполнили <a href="https://github.com/whattablackhole" target="_blank">whattablackhole</a>, <a href="https://github.com/Khakhlova" target="_blank">Katsiaryna Khakhlova</a>,<a href="https://github.com/Neiroromo" target="_blank">Neiroromo</a></span>
        <span><a href="https://rs.school/js/" target="_blank">RSSchool Курс «JavaScript/Front-end»</a></span>
    </div>
</footer>