<nav>
  <button data-toggle="modal" data-target="#myModal" class="btn btn-link text-dark font-weight-bold"
    id="btnLog">login</button>
  <div class="dropdown" id='divProfile' hidden>
    <button class="btn btn-link text-dark btn-user" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      user
    </button>
    <div class="dropdown-menu p-0" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item border" href="#" id="profile">profile</a>
      <a class="dropdown-item border" href="" id="btnExit">exit</a>
    </div>
  </div>
</nav>

<div class="modal" tabindex="-1" role="dialog" id="myModal" aria-labelledby="myModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content login">
      <div class="modal-header">
        <h5 class="modal-title">Login window</h5>
        <span class="text-danger err-message"></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="authEmail">Email</label>
            <input type="email" aria-required="true" class="form-control" id="authEmail"
              aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="authPassword">password</label>
            <input type="password" class="form-control" id="authPassword">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
        <button type="button" class="btn btn-primary" id="linkSignin">sign up</button>
        <button type="submit" class="btn btn-primary submit-btn btn-confirm" id="btnAuth" data-dismiss="modal">Login</button>

      </div>

    </div>
    <div class="modal-content signin hide-modal">
      <div class="modal-header">
        <h5 class="modal-title">Sign Up Window</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="regLogin">login</label>
            <input required type="text" class="form-control" id="regLogin" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="regPassword">password</label>
            <input required type="password" class="form-control" id="regPassword">
          </div>
          <div class="form-group">
            <label for="regPasswordConfirm">confirm password</label>
            <input required type="password" class="form-control" id="regPasswordConfirm">
          </div>
          <div class="form-group">
            <label for="regEmail">Email</label>
            <input required type="email" class="form-control" id="regEmail" aria-describedby="emailHelp">
          </div>

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck2">
            <label class="form-check-label" for="exampleCheck2">Check me out</label>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
        <button type="button" class="btn btn-primary link-login" id="linkLogin">Login</button>

        <button type="submit" class="btn btn-primary btn-confirm" id="btnReg" data-dismiss="modal">Register</button>
      </div>
    </div>
  </div>
</div>
