<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body class="container-fluid p-0">

  <header class="container-fluid d-flex flex-row-reverse pr-5">
    <%- include('header'); -%>
  </header>

  <main class="container">
    <!--Search-->
    <div class="d-flex w-100 justify-content-between mt-5 mb-5">
      <div class="input-group">
        <input type="text" class="form-control rounded-0" placeholder="Search" id="searchForm">
        <span class="input-group-btn">
          <button class="btn btn-secondary btn-confirm btn-lg btn-search rounded-0" type="button">Go!</button>
        </span>
      </div>
    </div>
    <!--Articles list / Search results-->
    <div class="mt-5 mb-10" id='divArticle'>
      <%- include('articles'); -%>
    </div>
    <!--Pagination-->
    <div id='divPagination'>
      <%- include('pagination'); -%>
    </div>    
  </main>

  <script type="module" src="../js/index.js"></script>
  <script src="../js/search.js"></script>
  <script type="module" src="../js/registration.js"></script>
  <script type="module" src="../js/pagination.js"></script>

</body>

</html>


<div div class="mt-5 mb-10" id='divArticle'>
<div class="mt-5">
  <div class="list-article">
  </div>
</div>
</div>