html {
  position: relative;
  min-height: 100vh;
}
body {
  /* max-width: 100vw;
  overflow-x: hidden; */

  /* margin-bottom: 2rem; */
}
/* header */
header {
  background-color: rgba(201, 114, 114, 0.5);
}

.header__user-info {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

#user-checkbox {
  display: none;
}

.header__popup {
  visibility: hidden;
  position: absolute;
  top: 1.5rem;
}

#user-checkbox:checked ~ .header__popup {
  visibility: visible;
}
/* header end */

/* footer */
footer {
  height: 2rem;
  /* margin-top: 50px; */
  /* position: relative;
  bottom: 0; */
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  /* position: absolute;
  bottom: 0; */
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 2rem;
  background-color: #9d7daad7;
}
/* footer end */

/* user profile */
.user-profile-container {
  width: 80vw;
  border: 1px solid black;
}

.user-name {
}
.settings__btn-container {
  position: relative;
  width: 35px;
  height: 35px;
  font-size: 30px;
}
#settings__checkbox {
  display: none;
}

.article-name,
.article-desc {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.article-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-edit-btn,
.article-delete-btn {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
}

.selected {
  background-color: rgb(121, 121, 121);
}
.open-article-elem:hover {
  cursor: pointer;
}
/* user profile end */

/* article view */
.workspace {
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}
.workspace__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#title {
  margin-left: 10%;
}
.edit-article-title {
  width: inherit;
  font-size: 2rem;
}
.workspace__body {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  /* max-height: calc(100vh - 94px); */
  /* overflow-y: scroll; */
  border: 1px solid red;
}
.history {
  position: relative;
  height: 100vh;
  border: 1px solid green;
  width: 100%;
  transition: all 2s ease;
}
tr:not(.thead):hover {
  cursor: pointer;
  background-color: rgb(187, 187, 187);
}
.fullWidth {
  width: 100vw;
}
.ce-block__content,
.ce-toolbar__content {
  width: unset;
  max-width: unset;
}
.codex-editor {
  width: 100%;
}
.current-changed-page {
  background-color: rgba(221, 221, 221, 0.918);
}
/* article view end*/
