html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}
main {
  flex: 1 0 auto;
}

a {
  color: #00b7ff;
}

header {
  background-color: #c4c4c4;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-btn {
  color: rgb(41, 41, 41);
  /* opacity: 0.7; */
}
.header-btn:hover {
  /* color: rgb(211, 211, 211); */
  color: rgb(41, 41, 41);

  opacity: 0.6;
  text-decoration: none;
}
.hide-modal,
.hide-article {
  display: none;
}

#linkSignin,
#linkLogin {
  border: none;
  text-decoration: underline;
  background-color: #ffffff;
  color: #1057e1;
}

.btn-confirm {
  background-color: #a4ecb0 !important;
  color: #000000 !important;
  border: none;
}

.btn:focus {
  outline: 0 !important;
}

.pagination {
  justify-content: center;
}
